@{
    ViewData["Title"] = "Migração para o BRC";
}

<div class="text-center">
    <h1 class="display-4">Análise de bases legadas de migração</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
